<%- include('../partials/head') %>
<body>
  <h1>Skills I Have As A(n Impostor) Developer</h1>
  <a href="/skills/new">Add To-Do</a>
  <ul>
    <% skills.forEach(function(skill) { %>
      <li>
        <% if(skill.skill !== 'Can successfully route HTTP Requests') { %>
          <a href="/skills/<%= skill.id %>"><%= skill.skill %></a>
        <% } else { %> 
          <span class="cant"><%= skill.skill %></span>
        <% } %>
          - 
        <% if(skill.skill === 'Can make Neon CSS') {  %> 
          <span class="neon"><%= skill.aquired %></span>
        <% } else { %>
          <%= skill.aquired %>
        <% } %>
      </li>
    <% }); %>
  </ul>
</body>
</html>